$date-picker-light: #fff !default;
$date-picker-stable: #aaaaaa !default;
$date-picker-positive: #387ef5 !default;
$date-picker-calm: #11c1f3 !default;
$date-picker-balanced: #33cd5f !default;
$date-picker-energized: #ffc900 !default;
$date-picker-assertive: #ef473a !default;
$date-picker-royal: #886aea !default;
$date-picker-dark: #444 !default;
$date-picker-eland: #364252 !default;
